h1 {
    color: #d6006e;
}

div{
    background-color: #00ffff;
    padding: 20px;
    margin: 10px;
}

#ultima-caixa{
    background-color: yellow;
}

.caixa{
    border-width: 10px;
    border-style: groove;
    border-color: azure;
    background-color: tomato;
    margin: 15px;
}